---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("about", "-index");
const { title, description, meta_title, image, content, button } = about.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-7">
          {
            image && (
              <Image
                class="mx-auto mb-6 rounded-lg"
                src={image}
                width={200}
                height={200}
                alt={title}
                format="webp"
              />
            )
          }
          <h2 set:html={markdownify(title)} class="h3 mb-6" />
          <div class="content">
            <p class="text-lg">{content}</p>
          </div>
              {button.enable && (
                <a
                  class="btn btn-primary bg-orange-600 border-0 dark:bg-orange-500 dark:text-white"
                  href={button.link}
                >
                  {button.label}
                </a>
              )}
        </div>
      </div>
    </div>
  </section>
</Base>
